创建一个csv文件, 并使用pandas读取
<br>需要完成两个任务
* 删除缺失值最多的列
* 将预处理之后的结果转化为张量格式

In [34]:
import torch
import pandas as pd
import numpy as np

In [35]:
data_path = "source/chap_2_Perliminaries/data.csv"
with open(data_path, 'w') as fp:
    fp.write('NumRooms,Alley,Price\n')  # 列名
    fp.write('NA,Pave,127500\n')  # 每行表示一个数据样本
    fp.write('2,NA,106000\n')
    fp.write('4,NA,178100\n')
    fp.write('1,NA,140000\n')
    fp.write('4,NA,140000\n')
    fp.write('2,NA,140000\n')
    fp.write('8,NA,140000\n')

In [36]:
data = pd.read_csv(data_path)
data

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       1.0   NaN  140000
4       4.0   NaN  140000
5       2.0   NaN  140000
6       8.0   NaN  140000

`dataframe.isna`:
<br>将原来的datafram所有项转化为ture \ bool, 表示该项是否是NaN
<br>返回一个`dataframe`

In [37]:
df_na = data.isna()
df_na

   NumRooms  Alley  Price
0      True  False  False
1     False   True  False
2     False   True  False
3     False   True  False
4     False   True  False
5     False   True  False
6     False   True  False

`dataframe.sum`:
<br>将dataframe中按照axis的方向计数
<br>返回一个series

In [38]:
temp = df_na.sum(axis=0)
temp

NumRooms    1
Alley       6
Price       0
dtype: int64

`series.idxmax()`:
<br>对于一个series, 返回其value最大的index

In [42]:
max_item = temp.idxmax()
max_item

'Alley'

`dataframe`可以使用`[]`来进行索引, `[]`中输入的是列名
<br>实用`del`可以删除这个列

In [40]:
del data[max_item]
data

   NumRooms   Price
0       NaN  127500
1       2.0  106000
2       4.0  178100
3       1.0  140000
4       4.0  140000
5       2.0  140000
6       8.0  140000

`dataframe.to_numpy`:
<br>能够将一个dataframe转化为numpy格式

In [41]:
torch.tensor(data.to_numpy(dtype=np.float32))

tensor([[       nan, 1.2750e+05],
        [2.0000e+00, 1.0600e+05],
        [4.0000e+00, 1.7810e+05],
        [1.0000e+00, 1.4000e+05],
        [4.0000e+00, 1.4000e+05],
        [2.0000e+00, 1.4000e+05],
        [8.0000e+00, 1.4000e+05]])